---
layout: default
title: BTVWAG -Burlington Web Application Group
meta-description: "A place for technology enthusiasts focused on web development come together to share ideas."
meta-keywords: "Burlington, Group, Web, Ruby, Ruby on Rails, JavaScript, Vermont, Application Developer, HTML, CSS"
---

<div class='row-fluid'>
  <div class="span8">
    <div class="well">
      <h2>Jobs</h2>
      {% for item in site.categories.jobs %}
        {% include job.html %}
      {% endfor %}
    </div>
  </div>
  <div class="span3">
    
    {% include about.html %}

    <div class="well">
      <h2>Submit a Job</h2>
      <p class="description">
        Have a job to do? Do you need a website developed or an application coded?
      </p>
      <a href="mailto:{{ site.email }}" class="btn btn-primary btn-large">Add a job</a>
    </div>
  </div>
</div>
